<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css">
    <title>TransactionInfo</title>
    <style>
        /* TYPOGRAPHY SCALE */
/*
    76.29px
    61.04px
    48.83px
    39.06px
    31.25px
    25.00px
    20.00px
    16.00px
    12.80px
    10.24px
    8.19px
*/
/* END OF TYPOGRAPHY SCALE */
/* COLOR SCHEME */
/*
primary: #a5d8ff
greys: #FFF, #EEE, #333, #222
*/

/* END OF COLOR SCHEME */


/* GENERAL STYLES */
:root {

    --base: #fff;
    --secondary: #f5f7f8;
    --highlight: #1a7b99;

    --primary-color: #a5d8ffp;
    --white: #fff;
    --light-grey: #eee;
    --mid-grey: #333;
    --dark-grey: #222;

    --8px: 8.19px;
    --10px: 10.24px;
    --12px: 12.80px;
    --16px: 16.00px;
    --20px: 20.00px;
    --25px: 25.00px;
    --31px: 31.25px;
    --39px: 39.06px;
    --48px: 76.29px;
    --61px: 61.04px;
    --76px: 48.83px;
}

/* GENERAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

tr {
    max-height: 2em;
}

th {
    overflow: hidden;
    color: var(--light-grey);
}

td {
    overflow: hidden;
    color: var(--light-grey);
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    background-color: var(--dark-grey);
}

body {
    background-color: var(--dark-grey);
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    color: var(--light-grey);
    text-align: center;
}

h2 {
    margin-top: 1vh;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--light-grey);
    padding: 0.5em 0px 0.25em 0px;
    text-align: center;
    width: 100%;
}

.main-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.secondary-header {
    font-size: 4.5rem;

    margin-top: 1em;
    color: var(--light-grey);
}

main {
    max-width: 95vw;
    height: 85vh;
    margin: 0 auto;
}
/* END OF GENERAL STYLES */

.container {
    width: 100%;
    height: 100%;
    background-color: var(--mid-grey);
    align-items: center;
    border-radius: 10px;
}

.container div {
    width: 100%;
    height: 20vh;
    color: var(--dark-grey);
}

.amount {
    overflow: hidden;
    text-align: center;
    font-size: 2.4rem;
    padding: 0.5em 2em 1em 2em;
    border-radius: 5px;
    font-weight: 500;
    width: 95%;
    margin-left:2.5%;
    height: 2.5em;
    background-color: #3a3a3a;
    color: var(--light-grey);
}

        nav {
            border-bottom: 2px solid var(--mid-grey);
        }

        nav ul {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: var(--dark-grey);
        }

        nav li {
            display: inline-block;
            float: left;
            padding: 0 16px;
            background-color: var(--dark-grey);
            border-right: 2px solid var(--mid-grey);
        }

        nav li:hover {
            background-color: var(--light-grey);
        }

        nav li a {
            display: block;
            color: var(--light-grey);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: var(--25px);
        }

        nav li a:hover {
            color: var(--dark-grey);
            text-decoration: none;
        }

        nav div {
            display: inline-block;
            float:right;
            margin-right:20px;
            background-color: var(--primary-color);
        }

        nav div:hover {
            background-color: var(--highlight);
        }

        nav div a {
            display: inline-block;
            color: var(--light-grey);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: var(--25px);
        }

        nav div a:hover {
            display: inline-block;
            color: var(--light-grey);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: var(--25px);
        }
</style>
</head>
<body>
<nav>
    <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/accounts">Accounts</a></li>
        <li><a href="/transactions">Transactions</a></li>
    </ul>

    <div>
        <a href="/export/accounts/{{account.id}}">Export</a>
    </div>
</nav>

<main>
    {{#if account}}
    <h1 class="main-header">Account Info</h1>
    <div>
        {{#with account}}
            <h2 class="sub-header">Account: {{id}}</h2>
            <h2 class="sub-header">Name: {{name}}</h2>
            <h2 class="sub-header">Currency: {{currency}}</h2>
            <h2 class="sub-header">Account Type: {{accountType}}</h2>
        {{/with}}
    </div>

    <h1 class="main-header">Transaction Info</h1>
    <div class="container">
        {{#with transactionInfo}}
        <div><h2 class="sub-header">Initial Balance</h2><p class="amount">{{balanceBefore}}</p></div>
        <div><h2 class="sub-header">Current Balance</h2><p class="amount">{{balanceAfter}}</p></div>
        <div><h2 class="sub-header">Successful Transactions</h2><p class="amount">{{numTransactions}}</p></div>
        <div><h2 class="sub-header">Failed Transactions</h2><p class="amount">{{failedTransactions}}</p></div>
        {{/with}}
    </div>

    <br>

    <div>
        <table id="table" class="display table table-striped table-bordered"> <!-- Create Table -->
            <thead class="table-dark">
            <tr>
                <th class="id" scope="col">ID</th>
                <th class="de-acc" scope="col">Deposit Acc.</th>
                <th class="wit-acc" scope="col">Withdraw Acc.</th>
                <th class="time" scope="col">Timestamp</th>
                <th class="amm" scope="col">Ammount</th>
                <th class="cur" scope="col">Currency</th>
                <th class="fra" scope="col">Fraudulent</th>
            </tr>
            </thead>
            <tbody>
            {{#transactions}}
                <tr>
                    <td class="id">{{id}}</td>
                    <td class="de-acc" ><a href="/accounts/{{depositAccount}}">{{depositAccount}}</a></td>
                    <td class="wit-acc" ><a href="/accounts/{{withdrawAccount}}">{{withdrawAccount}}</a></td>
                    <td class="time" >{{timestamp}}</td>
                    <td class="amm" >{{amount}}</td>
                    <td class="cur" >{{currency}}</td>
                    <td class="fra" >{{fraudulent}}</td>
                </tr>
            {{/transactions}}
            </tbody>
        </table>
    </div>
    {{else}}
        <h1 class="main-header">Account Not Found</h1>
    {{/if}}

    <footer class="py-3 my-3">
        <p class="text-center text-muted">({{dataOrigin}})</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                "pageLength": 20,
                "searching": false,
                "lengthChange": false
            });
        } );
    </script>
</main>
</body>
</html>
